body {
    background-color: #191918;
    color: white;
}
.card {
    background-color: #191918;
    border: 1px dotted white;
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
}
.card-text {
    font-size: 16px;
    font-weight: 500;
        
}
.card:hover {
    outline: 3px solid rgb(235, 206, 81);
    background-color: #303030;
    border: none;
}
@media (max-width: 576px) {
    .card {
        height: 100%;
        width: 100%;
        margin-left: 10%;
 }
 .card-img-top {
     height: 100%;
     width: 100%;
 }
 .col {
 }
 body {
     width: 100%;
 }
}
@media (max-width: 768px) {

        body {
        width: 100%;
    }
    .card {
        margin: 15%;
    }
    .list-group-item {
        width: 100%;
    }
}
@media (max-width: 992px) {
            .card {
           height: 100%;
           width: 100%;
    }
    .card-img-top {
        height: 100%;
        width: 100%;
    }
    .col {
        margin-bottom: 10px;
        margin-left: 10%;
        margin-right: 16%;
    }
    body {
        width: 100%;
    }
}